In [1]:
import datatable as dt
from datatable import f,by,count,update,sort

In [5]:
dt.options.display.head_nrows=4
dt.options.display.tail_nrows=4

In [3]:
penguins_dt = dt.fread('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-07-28/penguins.csv')

In [6]:
penguins_dt

In [9]:
penguins_dt[:,{'mean_bill_len_mm':dt.mean(f.bill_length_mm),
              'total_bill_len_mm':dt.sum(f.bill_length_mm)
              },by(f.sex)]

In [33]:
penguins_dt[:,{
    'total': count()
}, by(f.species,f.island)][:,{'unique_spcies_for_sex':count()},by(f.species)]

In [22]:
penguins_dt[(~dt.isna(f.body_mass_g)&~dt.isna(f.sex)),:
           ][:,:,by(f.sex),sort(-f.body_mass_g)
            ][:,{'first_body':dt.first(f.body_mass_g),
                'last_body':dt.last(f.body_mass_g)
                },by(f.sex)]

In [23]:
DT_ventas = dt.Frame({'c_id':[1,2,1,2,3,2,4,2,4,5],
                      'cust_life_cycle':['Lead','Active','Lead','Active','Inactive','Lead','Active','Lead','Inactive','Lead']
                     })

In [27]:
DT_ventas[:,count(),by(f.cust_life_cycle,f.c_id)
         ][:,{'unique_cids':count()},by(f.cust_life_cycle)]